#!Jinja2
# This will run the hind cast for each month from intial to final cycle point
# one year at a time, all months for a given year run simultaniously
{% set mnames = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"] %}

[cylc]
   cycle point format = %Y
   [[parameters]]
      mnum = 1..12
[scheduling]
   initial cycle point = 2003
   final cycle point = 2003
   [[dependencies]]
       [[[R1]]]
           graph = prep => month<mnum>
       [[[P1Y]]]
           graph = month<mnum>[-P1Y] => month<mnum>
[runtime]
   [[prep]]
      script = """
      if [ ! -d "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT" ]; then
        mkdir "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT" 
      fi
{% for month in mnames %}
  if [ -d "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}" ]; then
    rm -fr  $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}.old
    mv $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}} $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}.old
  fi
  if [ -d $HOME/cylc-run/{{month}} ]; then
    mv $HOME/cylc-run/{{month}} $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/
  fi
  cylc register {{month}} ${FCST_HOME}/cylc/cesm2cam6/monthly
{% endfor %}
"""
{% for month in mnames %}
   # Use the following to set the months to actually run or comment the if and endif to run all months
 {% if month in ["nov"] %}
   [[month_mnum{{"{0:02d}".format(loop.index)}}]]
   script = """
cylc run --no-detach --set=YEAR=$CYLC_TASK_CYCLE_POINT --set=MONTH={{"{0:02d}".format(loop.index)}} {{month}}
"""
  {% endif %}
{% endfor %}
