bin/#getinitialdata.py#
bin/#mv2datashare.sh#
bin/__pycache__/
bin/core-cheyenne3-33754-13893-6
bin/diff.out
bin/pp.test.*
bin/pp.test~
cylc/#month_wrapper.nc#
ecflow/*.log
ecflow/cesm2cam6/*.job*
ecflow/cesm2cam6/run_family/*.job*
ecflow/cesm2cam6/run_family/run_member[1234567890][1234567890].ecf
ecflow/cesm2cam6/run_family/*[1234567890]
ecflow/cesm2cam6/postprocess_family/*.job*
ecflow/cesm2cam6/postprocess_family/*[1234567890]
ecflow/cesm2cam6/postprocess_family/postprocess_member[1234567890][1234567890].ecf