# This will run the hind cast for each month from intial to final cycle point
# one year at a time, all months for a given year run simultaniously
[cylc]
   cycle point format = %Y
   [[parameters]]
#     mname = jan feb mar apr may jun jul aug sep oct nov dec
      mname = jan
[scheduling]
   initial cycle point = 1999
   final cycle point = 2019
   [[dependencies]]
       [[[R1]]]
           graph = prep => month<mname>
       [[[P1Y]]]
           graph = month<mname>[-P1Y] => month<mname>
[runtime]
   [[prep]]
      script = """
rm -r $HOME/cylc-run/${CYLC_TASK_PARAM_mname}
cylc register ${CYLC_TASK_PARAM_mname} ${FCST_HOME}/cylc/70Lwaccm6/${CYLC_TASK_PARAM_mname}
"""
   [[month<mname>]]
      script = cylc run --no-detach --set=YEAR=$CYLC_TASK_CYCLE_POINT ${CYLC_TASK_PARAM_mname}