#!Jinja2
# This will run the hind cast for each month from intial to final cycle point
# one year at a time, all months for a given year run simultaniously
# change rnames to limit months run, do not change mnames

{% set rnames = ["APR"] %}
{% set mnames = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"] %}
{% set fyear = 2021 %}
{% set lyear = 2021 %}
{% set model = "70Lwaccm6" %}
{% set FCST_HOME = "$HOME/70Lwaccm6/CESM2-Realtime-Forecast" %}
{% set ensemble_start = 0 %}
{% set ensemble_end   = 20 %}
# Change the run start and end dates here
{% set day_start      = '11' %}
{% set day_end        = '15' %}
{% set sendtoftp      = false %}

# don't change anything below here
[cylc]
   cycle point format = %Y
   [[parameters]]
      mnum = 1..12

[scheduling]
   initial cycle point = {{ fyear }}
   final cycle point = {{ lyear }}
   [[dependencies]]
       [[[R1]]]
           graph = prep => month<mnum>
       [[[P1Y]]]
           graph = month<mnum>[-P1Y] => month<mnum>
[runtime]
   [[prep]]
      script = """
      if [ ! -d "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT" ]; then
        mkdir "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT" 
      fi
{% for month in mnames %}
  if [ -d "$HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}" ]; then
    rm -fr  $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}.old
    mv $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}} $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/{{month}}.old
  fi
  if [ -d $HOME/cylc-run/{{month}} ]; then
    mv $HOME/cylc-run/{{month}} $HOME/cylc_logs/$CYLC_TASK_CYCLE_POINT/
  fi
  cylc register {{model}}/{{month}} {{FCST_HOME}}/cylc/monthly
{% endfor %}
"""
{% for month in mnames %}
    {% if month in rnames %}
   [[month_mnum{{"{0:02d}".format(loop.index)}}]]
   script = """
cylc run --no-detach --set=YEAR=$CYLC_TASK_CYCLE_POINT --set=MONTH={{"{0:02d}".format(loop.index)}} --set=model={{ model }} --set=ensemble_start={{ ensemble_start }} --set=ensemble_end={{ ensemble_end }} --set=day_start={{day_start}} --set=day_end={{day_end}} --set=sendtoftp={{ sendtoftp }} {{model}}/{{month}}
"""
  {% endif %}
{% endfor %}
