#!Jinja2
# This will run the hind cast for each month from intial to final cycle point
# one year at a time, all months for a given year run simultaniously

{% set rnames = ["AUG"] %}
{% set fyear = "2021" %}
{% set lyear = "2021" %}
{% set model = "70Lwaccm6" %}
{% set FCST_HOME = "$HOME/70Lwaccm6/CESM2-Realtime-Forecast" %}
{% set ensemble_start = 0 %}
{% set ensemble_end   = 20 %}
{% set day_start      = '25' %}
{% set day_end        = '31' %}
{% set sendtoftp      = true %}
{% set account = "P93300007" %}
{% set run_queue = "regular" %}


# don't change anything below here

{% set mnames = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"] %}

[cylc]
   cycle point format = %Y
   [[parameters]]
      mnum = 1..12

[scheduling]
   initial cycle point = {{ fyear }}
   final cycle point = {{ lyear }}
   [[dependencies]]
       [[[R1]]]
           graph = prep => month<mnum>
       [[[P1Y]]]
           graph = month<mnum>[-P1Y] => month<mnum>
[runtime]
   [[prep]]
      script = """
{% for month in mnames %}
  cylc register {{model}}/{{month}} {{FCST_HOME}}/cylc/monthly
{% endfor %}
"""
{% for month in mnames %}
    {% if month in rnames %}
   [[month_mnum{{"{0:02d}".format(loop.index)}}]]
   script = """
cylc run --no-detach --set=YEAR=$CYLC_TASK_CYCLE_POINT --set=MONTH={{"{0:02d}".format(loop.index)}} --set=model={{ model }} --set=ensemble_start={{ ensemble_start }} --set=ensemble_end={{ ensemble_end }} --set=day_start={{day_start}} --set=day_end={{day_end}} --set=sendtoftp={{ sendtoftp }} --set=account={{account}} --set=run_queue={{run_queue}} {{model}}/{{month}}
"""
  {% endif %}
{% endfor %}
