#!Jinja2
# This will run the hind cast for each month from intial to final cycle point
# one year at a time, all months for a given year run simultaniously

{% set rnames = ["OCT"] %}
{% set fyear = "2019" %}
{% set lyear = "2019" %}
# this sets the day of the week to run: 0=SUN, 1=MON, 2=TUE, ...
{% set dayofweek = 2 %} 
{% set model = "cesm2cam6NS" %}
{% set FCST_HOME = "$HOME/cesm2cam6NS/CESM2-Realtime-Forecast" %}
{% set ensemble_start = 0 %}
{% set ensemble_end   = 50 %}
{% set day_start      = '01' %}
{% set day_end        = '03' %}
{% set sendtoftp      = false %}
{% set account = "CESM0021" %}
{% set run_queue = "economy" %}

# don't change anything below here

{% set mnames = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"] %}

[cylc]
   cycle point format = %Y
   [[parameters]]
      mnum = 1..12

[scheduling]
   initial cycle point = {{ fyear }}
   final cycle point = {{ lyear }}
   [[dependencies]]
       [[[R1]]]
           graph = prep => month<mnum>
       [[[P1Y]]]
           graph = month<mnum>[-P1Y] => month<mnum>
[runtime]
   [[prep]]
      script = """
{% for month in mnames %}
    {% if month in rnames %}
      cylc register $CYLC_SUITE_NAME/{{month}} {{FCST_HOME}}/cylc/monthly
    {% endif %}
{% endfor %}
"""
{% for month in mnames %}
    {% if month in rnames %}
   [[month_mnum{{"{0:02d}".format(loop.index)}}]]
   script = """
cylc run --no-detach --set=YEAR=$CYLC_TASK_CYCLE_POINT --set=MONTH={{"{0:02d}".format(loop.index)}} --set=model={{ model }} --set=ensemble_start={{ ensemble_start }} --set=ensemble_end={{ ensemble_end }} --set=day_start={{day_start}} --set=day_end={{day_end}} --set=sendtoftp={{ sendtoftp }} --set=account={{account}} --set=run_queue={{run_queue}} --set=dayofweek={{dayofweek}} $CYLC_SUITE_NAME/{{month}}
"""
  {% endif %}
{% endfor %}
