[meta]
  title = CESM CYLC postprocess for ensemble from 70Lwaccm6.00 to 70Lwaccm6.10
[cylc]
  UTC mode = True
  cycle point format = CCYY-MM-DD
  [[parameters]]
    member = 0..10

[scheduling]
  initial cycle point = 1999-02-01
  final cycle point = 2007-01-29

  [[dependencies]]
#    [[[R1]]]
#      graph = "get_data => run<member> => st_archive<member> "
    [[[R/W-1/P1W]]] # Weekly Cycling on Monday
      graph = """
             postprocess<member>
	     """
[runtime]
    [[postprocess<member>]]
      script = $FCST_HOME/bin/postprocess.py
    [[[job]]]
      batch system = pbs
      batch submit command template = qsub -q economy -l walltime=02:00:00 -A NCGD0042 '%(job)s'
    [[[directives]]]
       -r = n
       -j = oe
       -V =
       -S = /bin/bash
       -l = select=1:ncpus=36:ompthreads=36
