[meta]
  title = test CESM CYLC workflow for 70Lwaccm6.00
[cylc]
  UTC mode = True

[scheduling]
  initial cycle point = 19990802T0000Z
  final cycle point = 19990802T0000Z

  [[dependencies]]
    [[[R1]]]
      graph = "get_data => run => st_archive "
    [[[R/P1W]]] # Weekly Cycling
      graph = """
	     st_archive[-P1W] => get_data => run
             run => st_archive
	     """
[runtime]
  [[get_data]]
    script = cd /glade/work/jedwards/sandboxes/CESM2-Realtime-Forecast/bin/; ./s2srun.py
  [[st_archive]]
    script = cd /glade/work/jedwards/cases_S2S/70Lwaccm6.00; ./case.submit --job case.st_archive; ./xmlchange CONTINUE_RUN=TRUE

    [[run]]
    script = """
cd /glade/work/jedwards/cases_S2S/70Lwaccm6.00
cp ../user_nl_cam.${CYLC_TASK_TRY_NUMBER} user_nl_cam
./case.submit --job case.run
"""
    [[[job]]]
      execution retry delays = 5*PT6S
      batch system = pbs
      batch submit command template = qsub    -q regular -l walltime=04:00:00 -A P93300606  '%(job)s'
    [[[directives]]]
       -r = n
       -j = oe
       -V =
       -S = /bin/bash
       -l = select=15:ncpus=36:mpiprocs=36:ompthreads=1
    [[[events]]]
	handlers = cd /glade/work/jedwards/cases_S2S/70Lwaccm6.00;
	handler events = retry, failed
