#!Jinja2
# All settings are in month_wrapper.rc 
# don't change anything below here

[meta]
  title = CESM CYLC workflow for ensemble from cesm2smyle
[cylc]
  UTC mode = True
  cycle point format = CCYY-MM-DD
  [[environment]]
    #CYLC_TASK_CYCLE_MONTH = "11"
    FCST_HOME = "/home/smyle/work/cesm/CESM2-Realtime-Forecast/"
    CESM_ROOT = "/home/smyle/work/cesm/cesm2.1.4-rc11/"
    SCRATCH   = "/home/smyle/work/cesm/scratch"
    USECASE   = "cesm2smyle"
    REFDIR    = "/home/smyle/work/cesm/inputdata/cesm2_init/"
    POSTPROCESS_PATH = "/home/smyle/work/cesm/CESM_postprocessing"
    SMYLE_ROOT = "/home/smyle/work/cesm/CESM2-SMYLE-CW3E-L83"
  [[parameters]]
    # The number of ensemble members can be changed here
    # The first number here should always be 1 and the second the number of members to run
    # the member to start with is firstmember
    mbr = {{ ensemble_start }}..{{ ensemble_end }}


[scheduling]
 initial cycle point = {{YEAR}}-{{MONTH}}-{{ day_start }}
 final cycle point = {{YEAR}}-{{MONTH}}-{{ day_end }}

 # must start Feb 01, any year:
 # initial cycle point constraints = "0201T00"
 # must start day 01 any month, any year:
 initial cycle point constraints = "01T00"

  [[dependencies]]
  # Weekly Cycling on monday, new date will submit when st_archive is complete for each member
  # run needs to finish, not nessasarily successfully for next step to start
  # 3 month cycle
  # [[[R/P3M]]]
  #     st_archive<mbr>[-P3M] => build_model => run_family:finish-all
    [[[R/P1Y]]]
      graph = """
        st_archive<mbr>[-P1Y] => get_data => build_model => run_family:finish-all
        pp_family:finish-all => dispose
        run<mbr> => st_archive<mbr> => pp<mbr>
             """
[runtime]
  [[get_data]]
    script = """
#conda activate
cd ${FCST_HOME}/bin/
./generate_cami_ensemble.py --ensemble-start {{ ensemble_start }} --ensemble-end {{ ensemble_end }}
"""
    [[[job]]]
      batch system = slurm
      shell = /bin/bash
    [[[directives]]]
       --nodes=1
       --cpus-per-task=8
       --time=01:00:00
       --account={{ account }}
       --qos=cw3e
    [[[environment]]]
       SMYLE_ROOT = "/home/smyle/work/cesm/CESM2-SMYLE-CW3E-L83"

  [[build_model]]
    script = """
#conda activate
cd ${FCST_HOME}/bin/
./buildcase.py --ensemble-start {{ ensemble_start }} --ensemble-end {{ ensemble_end }}
"""
    [[[job]]]
      batch system = slurm
      shell = /bin/bash
    [[[directives]]]
       --nodes=1
       --cpus-per-task=16
       --time=04:00:00
       --account={{ account }}
       --qos=cw3e

  [[st_archive<mbr>]]
    script = """
#conda activate
cd ${SMYLE_ROOT}/cases/b.e21.BSMYLE-CW3E-L83.f09_g17.${CYLC_TASK_CYCLE_DATE}.$(printf "%03d" ${CYLC_TASK_PARAM_mbr})
./case.submit --job case.st_archive
"""
    [[[environment]]]
      #CYLC_TASK_CYCLE_MONTH = $(cylc cyclepoint --template=%m)
      CYLC_TASK_CYCLE_DATE = $(cylc cyclepoint --template=%Y-%m)
    [[[job]]]
      batch system = slurm
      shell = /bin/bash
    [[[directives]]]
       --nodes=1
       --cpus-per-task=24
       --time=04:00:00
       --account={{ account }}
       --qos=cw3e

  [[pp<mbr>]]
      inherit = pp_family
  [[pp_family]]
      script = """
#conda activate
cd ${SMYLE_ROOT}/cases/b.e21.BSMYLE-CW3E-L83.f09_g17.${CYLC_TASK_CYCLE_DATE}.$(printf "%03d" ${CYLC_TASK_PARAM_mbr})
unset PYTHONPATH
module load cesm_postprocessing
if [ ! -d "postprocess" ]; then
   create_postprocess -caseroot=`pwd`
fi
cd postprocess
pp_config --set TIMESERIES_OUTPUT_ROOTDIR=/home/smyle/work/cesm/scratch/SMYLE-CW3E-L83/timeseries/b.e21.BSMYLE-CW3E-L83.f09_g17.${CYLC_TASK_CYCLE_DATE}.$(printf "%03d" ${CYLC_TASK_PARAM_mbr})
today=`date '+%Y%m%d-%H%M%S'`
mpirun ./timeseries > ./logs/timeseries.log.${today} 2>&1
"""
    [[[environment]]]
      #CYLC_TASK_CYCLE_MONTH = $(cylc cyclepoint --template=%m)
      CYLC_TASK_CYCLE_DATE = $(cylc cyclepoint --template=%Y-%m)
    [[[job]]]
      batch system = slurm
    [[[directives]]]
       --nodes=1
       --time=08:00:00
       --account={{ account }}
       --qos=cw3e

    [[dispose]]
    # Globus process, must run on host
      script = """
      #conda activate
      ${FCST_HOME}/bin/dispose_data.py --date ${CYLC_TASK_CYCLE_DATE}
"""
    [[[environment]]]
      CYLC_TASK_CYCLE_DATE = $(cylc cyclepoint --template=%Y-%m)
    [[run<mbr>]]
       inherit = run_family
    [[run_family]]
    script = """
#conda activate
cd ${SMYLE_ROOT}/cases/b.e21.BSMYLE-CW3E-L83.f09_g17.${CYLC_TASK_CYCLE_DATE}.$(printf "%03d" ${CYLC_TASK_PARAM_mbr})
./case.submit --job case.run
"""
    [[[environment]]]
      CYLC_TASK_CYCLE_MONTH = $(cylc cyclepoint --template=%m)
      CYLC_TASK_CYCLE_DATE = $(cylc cyclepoint --template=%Y-%m)
    [[[job]]]
      # Retry each run up to 3 times after a short delay
      execution retry delays = 3*PT30S
      batch system = slurm
    [[[directives]]]
       # dont forget to change these lines if you change pelayout
       # How can we connect this to the pelayout?
       --nodes=72
       --ntasks-per-node=24
       --account={{ account }}
       --switches=1
       --time=24:00:00
       --qos=cw3e
    [[[events]]]
        handler events = retry, failed
